<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.funsdkexample">
    <!-- Network access permission -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- The permission of saving Photoes or videoes in SD card -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- The permission of QR scan -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Configuration for Network and get the information of WiFi -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Voice intercom -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- Check the Status of Network -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FunSDKExample">
        <activity android:name=".ui.DeviceVideoActivity"></activity>
        <activity android:name=".ui.DevicePictureActivity" />
        <activity android:name=".ui.UserAddDeviceActivity" />
        <activity android:name=".ui.GuideDeviceActivity" />
        <activity android:name=".ui.DeviceUserListActivity" />
        <activity android:name=".ui.AuthenticationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>